@media (max-width: @screen-xs) {
    .jumbotron{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    .jumbotron{font-size: 14px;}
}

.checked {
    color: orange;
}

body {
    background-color: #E8E8E8;
}

.origin{
	margin-top: 5px;
	background-image: url("../pics/car.png");
	background-size: cover;
    background-repeat: no-repeat;
  	height: 700PX;
}
